 <!--{include file='public/header.html'}-->
<div style="margin: 0px auto;">
        
<div class="swithService">
    <div class="box_skitter box_skitter_large">
        <ul>
                <li>
                    <a href="#" target="_blank">
                        <img src="view/public/images/DefaultSwitch/1.jpg" alt="IT规划咨询服务" border="0"/></a>
                    <div class="label_text">
                        <p>为企业提供信息化战略设计与咨询</p>
                    </div>
                </li>
                <li>
                    <a href="#" target="_self">
                        <img src="view/public/images/DefaultSwitch/2.jpg" alt="业务流程整合与系统集成服务" border="0"/></a>
                    <div class="label_text">
                        <p>您是否还在为信息系统不能与业务有效结合，导致业务部门对IT不够信任而感到忧虑？</p>
                    </div>
                </li>
                <li>
                    <a href="#" target="_self">
                        <img src="view/public/images/DefaultSwitch/3.jpg" alt="企业信息管理" border="0"/></a>
                    <div class="label_text">
                        <p>您是否还在为信息系统不能有效支持企业决策，导致公司领导对IT的投资回报不满，而感到焦虑？</p>
                    </div>
                </li>
                <li>
                    <a href="#" target="_self">
                        <img src="view/public/images/DefaultSwitch/4.jpg" alt="企业系统定制开发" border="0"/></a>
                    <div class="label_text">
                        <p>您是否还在为厂商软件不能满足企业现有特殊业务，而企业软件开发人才不足，而感到焦虑？</p>
                    </div>
                </li>
                <li>
                    <a href="#" target="_self">
                        <img src="view/public/images/DefaultSwitch/5.jpg" alt="外包实施" border="0"/></a>
                    <div class="label_text">
                        <p>我们与一流的解决方案提供商合作，提供外包实施服务</p>
                    </div>
                </li>
        </ul>
    </div>
</div>
<div class="home-list">
    <div class="title"><h1>我们的服务 <span class="entitle">/ Our Services</span></h1></div>
    <div class="open-business">
        <div class="clearfix">
            <a class="open-menu-item" href="<!--{php}-->echo mkUrl(array('a'=>'page','c'=>'services','params'=>array('page'=>'itadvisory')))<!--{/php}-->">
                <p class="img">
                    <span class="ser1"></span>
                </p>
                <div class="open-menu-title">IT咨询<span class="enter">&gt;</span></div>
                <p class="desc">
                    为您提供明晰的信息化战略目标及发展路径，推动信息部门转型升级
                </p>
                <div class="open-right-bg"></div>
            </a>
            <a class="open-menu-item" href="<!--{php}-->echo mkUrl(array('a'=>'page','c'=>'services','params'=>array('page'=>'infomgr')))<!--{/php}-->">
                <p class="img">
                    <span class="ser2"></span>
                </p>
                <div class="open-menu-title">企业信息管理<span class="enter">&gt;</span></div>
                <p class="desc">通过有效的数据分析模型、绩效平台、知识库平台，帮您提高IT投资回报，有效支持企业决策</p>
                <div class="open-right-bg"></div>
            </a>
            <a class="open-menu-item" href="<!--{php}-->echo mkUrl(array('a'=>'page','c'=>'services','params'=>array('page'=>'soa')))<!--{/php}-->">
                <p class="img">
                    <span class="ser3"></span>
                </p>
                <div class="open-menu-title">流程整合&系统集成<span class="enter">&gt;</span></div>
                <p class="desc">通过科学合理地业务流程设计，采用成熟的WSRR\ESB\MDM等产品，让系统和业务完美结合</p>
                <div class="open-right-bg"></div>
            </a>
            <a class="open-menu-item" href="<!--{php}-->echo mkUrl(array('a'=>'page','c'=>'services','params'=>array('page'=>'develop')))<!--{/php}-->">
                <p class="img">
                    <span class="ser4"></span>
                </p>
                <div class="open-menu-title">系统定制开发<span class="enter">&gt;</span></div>
                <p class="desc">采用我们成熟、高效的开发框架和平台，帮助您低成本、快速完成定制系统</p>
                <div class="open-right-bg"></div>
            </a>
            <a class="open-menu-item" href="<!--{php}-->echo mkUrl(array('a'=>'page','c'=>'services','params'=>array('page'=>'outsourcing')))<!--{/php}-->">
                <p class="img">
                    <span class="ser5"></span>
                </p>
                <div class="open-menu-title">外包实施<span class="enter">&gt;</span></div>
                <p class="desc">我们与众多一流的解决方案提供商合作，提供完善可靠的外包实施服务</p>
                
            </a>
        </div>
    </div>
</div>
<div class="home-list">
    <div class="title"><h1>我们的客户 <span class="entitle">/ Our Customers</span></h1></div>
    <div class="customer">
    </div>
</div>
    </div>
 <!--{include file='public/footer.html'}-->